body {
	background-color: white;
	font-style: 
}

h2 {
	color: rgb(255, 199, 64);
	font-size: 40px;
}

.container {
	max-width: 1400px;
}



.img-logo img {
	
}

.telLink-logo {
	color: rgb(255, 199, 64);
	font-size: 38px;
	font-weight: bold;
}

.nav-list {
	font-size: 30px;
}

.nav-link {
	color: rgb(166, 166, 166);
	
}

.active a{
	color: white;
	background-color: rgb(255, 194, 64);
	margin-right: 4px;
}

.callMeBack-logo, .callMeBack-logo a {
	color: rgb(166, 166, 166);
}

.callMeBack-logo a {
	font-size: 22px;
	font-weight: bold;
	text-decoration: underline;
}

.links {
	position: relative;
}

.links::after {
	content: "";
	position: absolute;
	background-image: url(img/24to7.png);
	background-repeat: no-repeat;
}

.promo {
	background-image: url(img/elevator.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
    background-size: contain;
    padding-top: 50%;
    position: relative;
}

.promo-text {
	font-size: 72px;
	line-height: 80px;
	font-weight: bold;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.promo-text p {
	color: white;
	background-color: rgba(255, 199, 64, 1);
}

.filter {
	max-width: 850px;
}

.filter-item {
	color: rgb(166, 166, 166);
	font-size: 30px;
}

#filter-all {
	font-size: 18px;
	line-height: 14px;
}

.elevator-item {
	padding: 15px 10px 15px 0;
}

.elevator-item:hover,
.elevator-item:active,
.elevator-item:focus {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.elevator-item img {
}

.elevator-title {
	color: rgba(255, 199, 64, 1);
}

.order-button {
	background-color: rgba(255, 199, 64, 1);
	padding: 5px 20px;
	border: solid 1px rgba(255, 199, 64, 1);
	border-radius: 50px;
	color: white;
	font-weight: bold;
}

.more-info:hover,
.more-info:active,
.more-info:focus {
	color: rgba(255, 199, 64, 1);
}

.show-all {
	margin: 0;
	color: rgb(166, 166, 166);
}

.about {
	position: relative;
	z-index: 2;
}

.about::after {
	content: "";
	position: absolute;
	background-image: url(img/psevdo-vishka.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 740px;
	height: 530px;
	top: -15%;
	right: -35%;
	z-index: 3;
}

.about-text {
	color: #fff;
	background-color: rgb(255, 199, 64);
	position: relative;
	padding-left: 27%;
	padding-right: 12%;
	font-size: 22px;
	line-height: 30px;
}

.about-text::after {
	content: "";
	background: url(img/texturefabrik_dust-01.png);
	background-position: 50% 50%;
	opacity: 0.3;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

.about-text p {
	color: white;
	position: relative;
	z-index: 2;
}

.features {
	font-weight: bold;
	margin-top: 90px;
	margin-bottom: 50px;
}

.feature-pic-item {
	background-repeat: no-repeat;
	position: relative;
	background-size: auto;
	padding-top: 10%;
	color: white;
	width: 50%;
	height: auto;
	z-index: 2;
}

.feature-pic-item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	transition: all .5s ease;
}

.feature-pic-item:hover::after {
	opacity: 0;
}

#day-and-night {
	background-image: url(img/features-back-dayandnight.jpg);
	background-position: 50% 55%;
}

#quality {
	background-image: url(img/features-back-quality.jpg);
	background-position: 50% 80%;
}

#autopark {
	background-image: url(img/features-back-autopark.jpg);
	background-position: 20% 40%;
}

#convenience {
	background-image: url(img/features-back-convenience.jpg);
	background-position: 50% 30%;
}

#day-and-night p,
#quality p,
#autopark p,
#convenience p {
	padding-top: 5%;
	font-size: 40px;
	line-height: 45px;
}

.features-text-list {
	color: rgb(166, 166, 166);
	margin-top: 80px;
}

.features-text-item {
	position: relative;
}

.features-text-item::before {
	content: "";
	position: absolute;
	top: -65%;
	left: 40%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.features-text-repair::before {
	background-image: url(img/repair.png);
	width: 44px;
	height: 45px;
}

.features-text-fast::before {
	background-image: url(img/fast_icon.png);
	width: 86px;
	height: 45px;
}

.features-text-sale::before {
	background-image: url(img/sale_icon.png);
	width: 45px;
	height: 46px;
}

.contacts {
	background-color: rgb(255, 200, 70);
	background-repeat: no-repeat;
	color: white;
	 font-weight: bold;
	 padding: 90px 0;
	 position: relative;
	 margin-bottom: 150px;
}

.contacts::before {
	content: "";
	background-image: url(img/contacts_back.jpg);
	background-position: 50% 10%;
	opacity: 0.1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.contacts::after {
	content: "";
	background: url(img/texturefabrik_dust-01.png);
	background-position: 50% 50%;
	opacity: 0.3;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.contacts section {
	position: relative;
	z-index: 2;
}

.contacts a {
	color: white;
}

.our-contacts {
	position: relative;
}

.our-contacts::after {
	content: "";
	position: absolute;
	background-image: url(img/psevdo-vishka2.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 740px;
	height: 530px;
	top: -15%;
	left: -133%;
	z-index: 3;
}

 .form-input {
 	background-color: transparent;
 	border-radius: 50px;
 	border: 1px solid white;
 	font-weight: bold;
 }

 .slide {
 	background-image: url(img/slider-back.png);
 	background-repeat: no-repeat;
 	background-size: cover;
 }

.form-button {
	background: white;
	color: rgba(255, 199, 64, 1);
 	border-radius: 50px;
 	border: 1px solid white;
 	font-weight: bold;
}

 input::placeholder {
 	color: white;
 	text-align: center;
 }

.contact-us {
}

.nav-list-footer {
	color: white;
}


footer {
	margin-top: 130px;
	background-color: rgba(255, 199, 64, 1);
	padding-bottom: 5px;
}

