body {
	background-color: white;
	font-style: ;
	width: device-width;
	overflow-x: hidden;
}

h2 {
	color: rgb(255, 199, 64);
	font-size: 40px;
}

.container {
	max-width: 1400px;
}

.container-fluid {
	width: 100%;
	padding: 0;
	margin: 0;
}

.telLink-logo {
	color: rgb(255, 199, 64);
	font-size: 38px;
	font-weight: bold;
}

.nav-list {
	font-size: 30px;
}

.nav-link {
	color: rgb(166, 166, 166);
	
}

.active a{
	color: white;
	background-color: rgb(255, 194, 64);
	margin-right: 4px;
}

.callMeBack-logo, .callMeBack-logo a {
	color: rgb(166, 166, 166);
	font-size: 22px;
}

.callMeBack-logo a {
	text-decoration: underline;
}

.links {
	position: relative;
	line-height: 0.8;
	margin: 15px;
}

.links::after {
	content: "";
	position: absolute;
	background-image: url(img/24to7.png);
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	top: 5%;
	right: -20%;
}

.elevator {
	position: relative;
	
}

.promo {
	background-image: url(img/elevator.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
    background-size: contain;
    padding-top: 50%;
    position: relative;
    z-index: 2;
}

.promo-text {
	font-size: 72px;
	line-height: 80px;
	font-weight: bold;
	position: absolute;
	top: 70%;
	left: 50%;
    z-index: 2;
	transform: translate(-50%, -50%);
}

.back-yellow {
	position: absolute;
	transform: rotate(-3deg);
	z-index: 1;
	background-color: rgb(255, 199, 64);
	top: 25%;
	left: -5%;
	right: -5%;
	bottom: 15%;
}

 .back-yellow::after {
	content: "";
	background: url(img/texturefabrik_dust-01.png);
	background-position: 50% 50%;
	opacity: 0.2;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	position: absolute;
	top: 0%;
	left: 0;
	right: 0;
	bottom: 0%;
} 

.promo-text p {
	color: white;
	background-color: rgba(255, 199, 64, 1);
}

.filter {
	max-width: 850px;
}

.filter-item {
	color: rgb(166, 166, 166);
	font-size: 30px;
}

#filter-all {
	font-size: 18px;
	line-height: 14px;
}

.elevator-item {
	padding: 15px 10px 15px 0;
}

.elevator-item:hover,
.elevator-item:active,
.elevator-item:focus {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.elevator-item-img {
	position: relative;
	z-index: 2;
}

.elevator-title {
	color: rgba(255, 199, 64, 1);
}

.order-button {
	background-color: rgba(255, 199, 64, 1);
	padding: 5px 20px;
	border: solid 1px rgba(255, 199, 64, 1);
	border-radius: 50px;
	color: white;
	font-weight: bold;
}

.more-info:hover,
.more-info:active,
.more-info:focus {
	color: rgba(255, 199, 64, 1);
}

.show-all {
	margin: 0;
	color: rgb(166, 166, 166);
}

.about {
	position: relative;
	z-index: 2;
}

.about::after {
	content: "";
	position: absolute;
	background-image: url(img/psevdo-vishka.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 740px;
	height: 530px;
	top: -15%;
	right: -40%;
	z-index: 3;
}

.about-text {
	color: #fff;
	background-color: rgb(255, 199, 64);
	position: relative;
	padding-left: 27%;
	padding-right: 12%;
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 22px;
	line-height: 30px;
}
.about-text::after {
	content: "";
	background: url(img/texturefabrik_dust-01.png);
	background-position: 50% 50%;
	opacity: 0.3;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

.about-text p {
	color: white;
	position: relative;
	z-index: 2;
	transform: rotate(1deg);
}

.rotate {
	transform: rotate(-1deg);
}

.features {
	font-weight: bold;
	margin-top: 90px;
	margin-bottom: 50px;
}

.feature-pic-item {
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	padding-top: 21%;
	margin-bottom: 10px;
	color: white;
	width: 50%;
	height: auto;
	z-index: 1;
}

.feature-pic-item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	transition: all .5s ease;
}

.feature-pic-item:hover::after {
	opacity: 0;
}

.feature-pic-item p {
	position: absolute;
}

#day-and-night {
	background-image: url(img/features-back-dayandnight.jpg);
	background-position: 50% 55%;
}

#day-and-night p {
	top: 0%;
	right: 20%;
	text-align: left;
}

#quality {
	background-image: url(img/features-back-quality.jpg);
	background-position: 50% 80%;
}

#quality p {
	bottom: 0%;
}

#autopark {
	background-image: url(img/features-back-autopark.jpg);
	background-position: 20% 40%;
}

#autopark p {
	top: 0%;
	left: 0%;
}

#convenience {
	background-image: url(img/features-back-convenience.jpg);
	background-position: 50% 30%;
}

#convenience p {
	bottom: 0%;
}

#day-and-night p,
#quality p,
#autopark p,
#convenience p {
	padding-top: 5%;
	font-size: 40px;
	line-height: 45px;
	z-index: 3;
}

.features-text-list {
	color: rgb(166, 166, 166);
	margin-top: 80px;
}

.features-text-item {
	position: relative;
}

.features-text-item::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.features-text-repair::before {
	background-image: url(img/repair.png);
	width: 44px;
	height: 45px;
	top: -65%;
	left: 45%;
}

.features-text-fast::before {
	background-image: url(img/fast_icon.png);
	width: 86px;
	height: 45px;
	top: -65%;
	left: 40%;
}

.features-text-sale::before {
	background-image: url(img/sale_icon.png);
	width: 45px;
	height: 46px;
	top: -65%;
	left: 45%;
}

.contacts {
	background-color: rgb(255, 200, 70);
	background-repeat: no-repeat;
	color: white;
	 font-weight: bold;
	 padding: 90px 0;
	 position: relative;
	 margin-bottom: 150px;
}

.dust {
	content: "";
	background-image: url(img/contacts_back.jpg);
	background-position: 50% 10%;
	opacity: 0.1;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.contacts-back {
	content: "";
	background: url(img/texturefabrik_dust-01.png);
	background-position: 50% 50%;
	opacity: 0.3;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.contacts section {
	position: relative;
	z-index: 2;
}

.contacts a {
	color: white;
}

.our-contacts {
	position: relative;
}

.contacts::after {
	content: "";
	position: absolute;
	background-image: url(img/psevdo-vishka2.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 740px;
	height: 530px;
	top: -15%;
	left: -10%;
	z-index: 3;
}


 .form-input {
 	background-color: transparent;
 	border-radius: 50px;
 	border: 1px solid white;
 	font-size: 25px;
 	margin-bottom: 15px;
 }

.form-button {
	background: white;
	color: rgba(255, 199, 64, 1);
 	border-radius: 50px;
 	font-size: 25px;
 	padding: 2px 70px;
 	border: 1px solid white;
 	font-weight: bold;
}

 input::placeholder {
 	color: white;
 	text-align: center;
 	font-weight: bold;
 }

.contact-us {
}

.gallery-slider {
	padding-bottom: 140px;
	position: relative;
	background-color: gray;
}

 .gallery-slider::after {
 	content: "";
 	background-image: url(img/news-back.jpg);
 	background-repeat: no-repeat;
 	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
 	opacity: 0.1;
 	z-index: 1;
 }

 .slider {
  position: relative;
  z-index: 2;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

/* стили для обёртки, в которой заключены слайды */
.slider__wrapper {
  position: relative;
  overflow: hidden;
}

/* стили для контейнера слайдов */
.slider__items {
  display: flex;
  transition: transform 0.6s ease;
}

/* стили для слайдов */
.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}

/* стили для кнопок "вперед" и "назад" */
.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_prev {
  left: 0;
}

.slider__control_next {
  right: 0;
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* стили для индикаторов */
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  list-style: none;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.slider__indicators li.active {
  background-color: #fff;
}


footer {
	margin-top: 130px;
	background-color: rgba(255, 199, 64, 1);
	padding-bottom: 5px;
	position: relative;
	width: 105%;
	height: 105%;
}

.footer-back {
	padding-top: 80px;
}

.footer-back::before {
	content: "";
	background-image: url(img/footer-back.jpg);
	opacity: 0.1;
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.footer-back::after {
	content: "";
	background-image: url(img/texturefabrik_dust-01.png);
	opacity: 0.2;
	z-index: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}



.footer-back>div {
	position: relative;
	transform: rotate(1deg);
	z-index: 2;
}

.footer-links, .footer-links a {
	color: white;
	font-size: 20px;
	line-height: 15px;

}

.nav-list-footer a {
	color: white;
	font-size: 20px;
}

.nav-list-footer>.active a {
	background-color: white;
	color: rgb(255, 199, 64);
}

.social {
	padding-bottom: 10px;
}


/* xs (<=543px) */
@media (max-width: 575px) {
	.links::after {
		display: none;
	}

	.promo-text {
		font-size: 20px;
		line-height: 20px;
	}

	.about::after {
		display: none;
	}

	.about-text {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 22px;
		line-height: 30px;
	}

	.our-contacts::after {
		display: none;
	}

	.telLink-logo {
	font-size: 25px;
	}

	.nav-list {
		font-size: 25px;
	}

	.callMeBack-logo, .callMeBack-logo a {
		font-size: 15px;
	}

	.elevators-list {
		margin: 0;
	}

	.feature-pic-item {
		margin-bottom: 5px;
	}

	#day-and-night p,
	#quality p,
	#autopark p,
	#convenience p {
		padding-top: 5%;
		font-size: 14px;
		line-height: 14px;
		z-index: 3;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.features-text-item::before {
		top: 10%;
		left: -3%;
	}
}
 
/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {
	.links::after {
		display: none;
	}

	.promo-text {
		font-size: 20px;
		line-height: 20px;
	}

	.about::after {
		display: none;
	}

	.our-contacts::after {
		display: none;
	}
}
 
/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {
	.links::after {
		display: none;
	}

	.promo-text {
		font-size: 40px;
		line-height: 40px;
	}

	.about::after {
		display: none;
	}

	.our-contacts::after {
		display: none;
	}
}
 
/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
	

	.promo-text {
		font-size: 50px;
		line-height: 60px;
	}
}